<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="row">
            <!-- Front Yard -->
            <div class="col-4">
                <div class="card full-height-panel panel" style="background-color:rgb(105, 174, 105);">
                    <div class="card-header">
                        Front Yard
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <form method="post" action="/add-plant" class="input-group">
                                <input type="hidden" name="position" value="0"> <!-- 0 for Front Yard, 1 for ISL, etc. -->
                                <input type="text" name="plant_name" class="form-control" placeholder="Plant name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add Plant</button>
                                </div>
                            </form>
                        </div>
                        <table id="frontyard-plant-table" class="table plant-table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Next Water</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in organized_data[0] %} <!-- '0' for Front Yard, '1' for ISL, etc. -->
                                <tr data-plant-id={{ plant.id }}>
                                    <td>{{ plant.name }}</td>
                                    <td>{{ plant.next_water }}</td>
                                    <td>{{ plant.water_schedule }} days</td>
                                    <td>
                                        {% if plant.food_event %}
                                        <span>Food!</span><br>
                                        {% endif %}
                                        {% if plant.repotting_event %}
                                        <span>Check pot!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Inside -->
            <div class="col-4">
                <!-- Sunlight -->
                <div class="card half-height-panel panel" style="background-color:rgb(255, 255, 124);">
                    <div class="card-header">
                        Inside (Sunlight)
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <form method="post" action="/add-plant" class="input-group">
                                <input type="hidden" name="position" value="1"> <!-- 0 for Front Yard, 1 for ISL, etc. -->
                                <input type="text" name="plant_name" class="form-control" placeholder="Plant name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add Plant</button>
                                </div>
                            </form>
                        </div>
                        <table id="isl-plant-table" class="table plant-table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Next Water</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in organized_data[1] %} <!-- '0' for Front Yard, '1' for ISL, etc. -->
                                <tr data-plant-id={{ plant.id }}>
                                    <td>{{ plant.name }}</td>
                                    <td>{{ plant.next_water }}</td>
                                    <td>{{ plant.water_schedule }} days</td>
                                    <td>
                                        {% if plant.food_event %}
                                        <span>Food!</span><br>
                                        {% endif %}
                                        {% if plant.repotting_event %}
                                        <span>Check pot!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Low-light -->
                <div class="card half-height-panel panel" style="background-color:rgb(200, 200, 200);">
                    <div class="card-header">
                        Inside (Low-light)
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <form method="post" action="/add-plant" class="input-group">
                                <input type="hidden" name="position" value="2"> <!-- 0 for Front Yard, 1 for ISL, etc. -->
                                <input type="text" name="plant_name" class="form-control" placeholder="Plant name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add Plant</button>
                                </div>
                            </form>
                        </div>
                        <table id="ill-plant-table" class="table plant-table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Next Water</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in organized_data[2] %} <!-- '0' for Front Yard, '1' for ISL, etc. -->
                                <tr data-plant-id={{ plant.id }}>
                                    <td>{{ plant.name }}</td>
                                    <td>{{ plant.next_water }}</td>
                                    <td>{{ plant.water_schedule }} days</td>
                                    <td>
                                        {% if plant.food_event %}
                                        <span>Food!</span><br>
                                        {% endif %}
                                        {% if plant.repotting_event %}
                                        <span>Check pot!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Back Yard -->
            <div class="col-4">
                <div class="card full-height-panel panel" style="background-color:rgb(105, 174, 105);">
                    <div class="card-header">
                        Back Yard
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <form method="post" action="/add-plant" class="input-group">
                                <input type="hidden" name="position" value="3"> <!-- 0 for Front Yard, 1 for ISL, etc. -->
                                <input type="text" name="plant_name" class="form-control" placeholder="Plant name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add Plant</button>
                                </div>
                            </form>
                        </div>
                        <table id="backyard-plant-table" class="table plant-table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Next Water</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in organized_data[3] %} <!-- '0' for Front Yard, '1' for ISL, etc. -->
                                <tr data-plant-id={{ plant.id }}>
                                    <td>{{ plant.name }}</td>
                                    <td>{{ plant.next_water }}</td>
                                    <td>{{ plant.water_schedule }} days</td>
                                    <td>
                                        {% if plant.food_event %}
                                        <span>Food!</span><br>
                                        {% endif %}
                                        {% if plant.repotting_event %}
                                        <span>Check pot!</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
